<div class="container app-dashboard">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-inverse app-notification">
        <div class="card-block">
          <h3 class="card-title">No Tournaments Yet!</h3>
          <p class="card-text">Click here to create a new tournament</p>
          <button class="btn btn-primary pull-right">New Tournament</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-8">

    </div>
  </div>
</div>
